In [83]:
import requests
import pandas as pd
import numpy as np
import xlsxwriter

In [161]:
def buscar_genero (peliculas, year, page):
	import requests

url = "https://moviesdatabase.p.rapidapi.com/titles"

querystring = {"genre":"Romance","startYear":"1990","endYear":"2023"}

headers = {
	"X-RapidAPI-Key": "238e147571msh88317d3edc9d80dp16bbe0jsnf670c5d1b1c7",
	"X-RapidAPI-Host": "moviesdatabase.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

print(response.json())

In [189]:


#Definimos la lista lista peli anual para hacer la lista de un ano completo por género

lista_pelis_anual = []

for year in range(1990, 2024):

    try:
        
        for page in range(1,51):  #Hacemos un for para que vaya pasando de la página 1, hasta la página 100
            #AQUÍ INDICAMOS EL GÉNERO DE PELÍCULA Y EL AÑO QUE QUEREMOS BUSCAR
            info_pelis = buscar_genero('Romance', year, page) #Definimos una variable para llamar a la función de apis pelis
            try: #Si hay algun problema con algun dato que pase de él
                for dato_results in info_pelis['results']: #iteramos en la lista de películas de la función
                    lista_peli = [] #Creamos lista donde meter los datos
                    tipo = dato_results["titleType"]["text"] #Sacamos el tipo de de peli (movie o short)
                    
                    if tipo == "Movie" or tipo == "Short": #acotamos lo anterior para que los resultados sean sólo movie o short
                        titulo = dato_results['titleText']['text']#Sacamos el título de la peli
                        año = dato_results["releaseYear"]["year"]#Sacamos el ano de la pelo
                        try:
                            mes = dato_results["releaseDate"]["month"]#Sacamos el mes de la peli
                        except TypeError:
                            mes = "none"
                            
                        id_peli = dato_results['id']#Sacamos el id de la peli  
                        #appendeamos todo el la lista peli
                        lista_peli.append('Romance') #AQUÍ HAY QUE PONER EL GÉNERO OTRA VEZ
                        lista_peli.append(tipo) #Solo Movie y Short, el resto hay que quitarlos con un if
                        lista_peli.append(titulo)
                        lista_peli.append(año)
                        lista_peli.append(mes)
                        lista_peli.append(id_peli)
                        
                        if tuple(lista_peli) not in lista_pelis_anual:
                            lista_pelis_anual.append(tuple(lista_peli))
                        else:
                            pass
                    
                    else: 
                        pass
            except:
                pass
                
    except ConnectionError:
        pass

In [26]:
#Esto no nos vale porque la función la llamamos en la celda anterior
drama_1990 = buscar_peli("Drama", "1990")

NameError: name 'buscar_peli' is not defined

In [ ]:
#en su lugar usamos la lista de pelis
# mystery_1990 = lista_pelis_anual
# mystery_1990

In [84]:
#df_pelis.to_excel("nombre_excel.xlsx")
mystery_1990 = pd.DataFrame(lista_pelis_anual)
mystery_1990

           0      1                         2     3     4          5
0    Mystery  Movie                 Spy Story  1990     3  tt0075259
1    Mystery  Movie                Astonished  1990  None  tt0092589
2    Mystery  Movie                   Demonia  1990    10  tt0094997
3    Mystery  Movie                Still Life  1990    11  tt0096177
4    Mystery  Movie  In the Cold of the Night  1990    12  tt0097573
..       ...    ...                       ...   ...   ...        ...
117  Mystery  Movie              Poterpevshiy  1990  None  tt5790428
118  Mystery  Movie                   Dominus  1990     6  tt6244888
119  Mystery  Movie       Juntong te qian dui  1990  None  tt6788638
120  Mystery  Movie             Yu wu mo ying  1990  None  tt8422674
121  Mystery  Short                  Roadkill  1990     3  tt8119162

[122 rows x 6 columns]

In [86]:
mystery_1991  = pd.DataFrame(lista_pelis_anual)
mystery_1991

           0      1                           2     3     4           5
0    Mystery  Movie                 Defenseless  1991     8   tt0099397
1    Mystery  Movie            Passion's Flower  1991     2   tt0100338
2    Mystery  Short           O Gémeo Diferente  1991     2   tt0099723
3    Mystery  Movie  The Ballad of the Sad Cafe  1991     5   tt0101404
4    Mystery  Movie                Krov za krov  1991     2   tt0102238
..       ...    ...                         ...   ...   ...         ...
106  Mystery  Movie  Pokhorony na vtorom etazhe  1991  None   tt5133120
107  Mystery  Movie                        Klan  1991  None   tt5830002
108  Mystery  Movie              Ubit 'Shakala'  1991     6   tt5844554
109  Mystery  Movie           You Are Not Alone  1991  None  tt26896158
110  Mystery  Short          Journey to the End  1991  None  tt27927866

[111 rows x 6 columns]

In [90]:
mystery_1992 = pd.DataFrame(lista_pelis_anual)
mystery_1992

           0      1                               2     3     4           5
0    Mystery  Movie            Once Upon a Crime...  1992     3   tt0101625
1    Mystery  Movie                     Body Puzzle  1992     3   tt0101493
2    Mystery  Movie               Consenting Adults  1992     4   tt0104006
3    Mystery  Movie                           Vacas  1992    12   tt0103186
4    Mystery  Movie                  Basic Instinct  1992     5   tt0103772
..       ...    ...                             ...   ...   ...         ...
107  Mystery  Movie                           Wo di  1992  None   tt8351742
108  Mystery  Movie                         Saiylyk  1992  None   tt8715760
109  Mystery  Short              Late Night Visitor  1992    10   tt8928040
110  Mystery  Movie             Isnan didd al-qanun  1992    11  tt28058045
111  Mystery  Movie  Akio Jissoji's Wonder Museum 1  1992     4  tt29520561

[112 rows x 6 columns]

In [96]:
mystery_1993 = pd.DataFrame(lista_pelis_anual)
mystery_1993

           0      1                           2     3     4           5
0    Mystery  Movie               Dama de noche  1993     3   tt0015724
1    Mystery  Movie  Ji hap chong see: Gung sam  1993     9   tt0098707
2    Mystery  Movie               Tropical Heat  1993     7   tt0103124
3    Mystery  Movie            Chyornyy kvadrat  1993     9   tt0103968
4    Mystery  Movie                      Trauma  1993     3   tt0104053
..       ...    ...                         ...   ...   ...         ...
97   Mystery  Movie                       Shhh!  1993    12   tt4228378
98   Mystery  Short                    Mokopuna  1993  None   tt4998484
99   Mystery  Movie      Al Raqss Ma El Shaitan  1993     7   tt6229830
100  Mystery  Short              Vorm Frühstück  1993  None  tt26453150
101  Mystery  Short                   Melodrama  1993  None  tt26454263

[102 rows x 6 columns]

In [99]:
mystery_1994 = pd.DataFrame(lista_pelis_anual)
mystery_1994

           0      1                          2     3     4           5
0    Mystery  Movie                Access Code  1994     7   tt0086847
1    Mystery  Movie          Voci dal profondo  1994     3   tt0100881
2    Mystery  Short      Los amigos del muerto  1994     7   tt0106261
3    Mystery  Movie               Game of Love  1994     2   tt0108045
4    Mystery  Movie             Guerrero negro  1994     6   tt0107054
..       ...    ...                        ...   ...   ...         ...
129  Mystery  Movie  Shi zi jia xia de mo ying  1994  None   tt8162796
130  Mystery  Short  The Legacy of Edgar Cayce  1994  None  tt18184440
131  Mystery  Short                 Omega,1994  1994     2  tt20854668
132  Mystery  Short      Miete Wirst Du Zahlen  1994  None  tt26454244
133  Mystery  Movie                      Rojal  1994  None  tt29566394

[134 rows x 6 columns]

In [102]:
mystery_1995 = pd.DataFrame(lista_pelis_anual)
mystery_1995

           0      1                        2     3     4          5
0    Mystery  Movie           Á köldum klaka  1995     8  tt0109028
1    Mystery  Short            The Bicyclist  1995    10  tt0109264
2    Mystery  Movie        Dolores Claiborne  1995     1  tt0109642
3    Mystery  Movie           Jupiter's Wife  1995     9  tt0110217
4    Mystery  Movie  Mad Dogs and Englishmen  1995     6  tt0111151
..       ...    ...                      ...   ...   ...        ...
121  Mystery  Movie             Hatya Chakra  1995     1  tt3657490
122  Mystery  Movie      Kakababu Here Gelen  1995  None  tt5235020
123  Mystery  Short         Le fils d'Ariane  1995    10  tt8487294
124  Mystery  Movie         Moskal-charivnyk  1995  None  tt9098234
125  Mystery  Short            Perdue de vue  1995  None  tt7042224

[126 rows x 6 columns]

In [107]:
mystery_1996 = pd.DataFrame(lista_pelis_anual)
mystery_1996

           0      1                                 2     3     4          5
0    Mystery  Movie                 Sucesos distantes  1996     8  tt0111305
1    Mystery  Movie  Carlos Monzón, el segundo juicio  1996     1  tt0112632
2    Mystery  Movie             Letters from the East  1996    10  tt0113643
3    Mystery  Movie                        Labirintos  1996    10  tt0113591
4    Mystery  Movie                         Loch Ness  1996     7  tt0113682
..       ...    ...                               ...   ...   ...        ...
112  Mystery  Short             The Fools of Mirror 9  1996     6  tt2349080
113  Mystery  Movie                Fotografdaki kadin  1996  None  tt3633464
114  Mystery  Movie                         Apna Kaun  1996     1  tt3669102
115  Mystery  Short                             Hagan  1996     6  tt3680070
116  Mystery  Short    Rage: DeepIn The Blackest Hole  1996  None  tt8740576

[117 rows x 6 columns]

In [110]:
mystery_1997 = pd.DataFrame(lista_pelis_anual)
mystery_1997

           0      1                  2     3     4          5
0    Mystery  Movie   Illicit Dreams 2  1997     1  tt0116611
1    Mystery  Movie      Midnight Blue  1997     4  tt0117041
2    Mystery  Movie     Campfire Tales  1997  None  tt0115813
3    Mystery  Movie       Lost Highway  1997     5  tt0116922
4    Mystery  Movie      The Big Empty  1997    10  tt0118713
..       ...    ...                ...   ...   ...        ...
131  Mystery  Short    El sopar sóc jo  1997    12  tt4277170
132  Mystery  Short          The Hound  1997  None  tt4299048
133  Mystery  Movie  Kriminalnyy otdel  1997  None  tt5156620
134  Mystery  Short        Circle Cult  1997     2  tt5835512
135  Mystery  Short         Fog People  1997     3  tt5886330

[136 rows x 6 columns]

In [114]:
mystery_1998 = pd.DataFrame(lista_pelis_anual)
mystery_1998

           0      1                        2     3     4          5
0    Mystery  Movie      The Gingerbread Man  1998     6  tt0119196
1    Mystery  Movie                Dark City  1998     2  tt0118929
2    Mystery  Movie                   Fallen  1998     5  tt0119099
3    Mystery  Movie         Where's Marlowe?  1998     3  tt0118150
4    Mystery  Movie            Goodbye Lover  1998     4  tt0119219
..       ...    ...                      ...   ...   ...        ...
158  Mystery  Movie                      Efu  1998     3  tt3788152
159  Mystery  Movie  Shinjuku Boy Detectives  1998     4  tt4071082
160  Mystery  Short         Rendez-Vous Cafe  1998    12  tt4341992
161  Mystery  Movie             Krutye menty  1998  None  tt5159476
162  Mystery  Movie       Bobaka Saskerviley  1998  none  tt6270288

[163 rows x 6 columns]

In [118]:
mystery_1999 = pd.DataFrame(lista_pelis_anual)
mystery_1999

           0      1                       2     3     4          5
0    Mystery  Movie      When Justice Fails  1999     1  tt0120500
1    Mystery  Movie        Brokedown Palace  1999     3  tt0120620
2    Mystery  Movie  Foreign Correspondents  1999     9  tt0123078
3    Mystery  Movie          Eyes Wide Shut  1999     9  tt0120663
4    Mystery  Movie     Eye of the Beholder  1999     1  tt0120662
..       ...    ...                     ...   ...   ...        ...
127  Mystery  Movie     Tehran Rozegar-e No  1999  none  tt4955970
128  Mystery  Short           Dancing Queen  1999     4  tt5422960
129  Mystery  Short          Red Right Hand  1999     7  tt7512320
130  Mystery  Short                 Miradas  1999     3  tt7284426
131  Mystery  Short               Southwest  1999  None  tt6869360

[132 rows x 6 columns]

In [121]:
mystery_2000 = pd.DataFrame(lista_pelis_anual)
mystery_2000

           0      1                         2     3     4          5
0    Mystery  Movie  The Million Dollar Hotel  2000     5  tt0120753
1    Mystery  Movie           Waking the Dead  2000     3  tt0127349
2    Mystery  Movie       The Crow: Salvation  2000     6  tt0132910
3    Mystery  Movie                  Scream 3  2000     4  tt0134084
4    Mystery  Movie                 Luckytown  2000     4  tt0160495
..       ...    ...                       ...   ...   ...        ...
188  Mystery  Short           Psychica Agonya  2000  None  tt5090010
189  Mystery  Movie        Agent v mini-yubke  2000  None  tt5114340
190  Mystery  Short                      Film  2000     9  tt5334678
191  Mystery  Movie                   Obvious  2000     4  tt6257730
192  Mystery  Short                The Victim  2000     7  tt7428098

[193 rows x 6 columns]

In [125]:
mystery_2001 = pd.DataFrame(lista_pelis_anual)
mystery_2001

           0      1                       2     3     4          5
0    Mystery  Movie     Horror in the Attic  2001     4  tt0118652
1    Mystery  Movie               From Hell  2001     3  tt0120681
2    Mystery  Movie                  Enigma  2001     1  tt0157583
3    Mystery  Movie                Impostor  2001     4  tt0160399
4    Mystery  Movie              Dark Water  2001     8  tt0163596
..       ...    ...                     ...   ...   ...        ...
232  Mystery  Short         Odio a la gente  2001     6  tt6127372
233  Mystery  Short           The Institute  2001    11  tt6277744
234  Mystery  Short                The Vawn  2001     5  tt6388108
235  Mystery  Short  The Room I Had in Time  2001  None  tt6561594
236  Mystery  Movie             Bahubuthayo  2001     8  tt6729210

[237 rows x 6 columns]

In [129]:
mystery_2002 = pd.DataFrame(lista_pelis_anual)
mystery_2002

           0      1                               2     3     4          5
0    Mystery  Movie                 Men in Black II  2002     8  tt0120912
1    Mystery  Movie                        Daybreak  2002     5  tt0128154
2    Mystery  Movie                 Minority Report  2002     9  tt0181689
3    Mystery  Movie                Dead Man's Dream  2002     7  tt0184387
4    Mystery  Movie                 New Best Friend  2002     4  tt0191074
..       ...    ...                             ...   ...   ...        ...
258  Mystery  Short                        Mulciber  2002     3  tt2973646
259  Mystery  Movie  Jue mi dang an: Mi shi shi jie  2002    12  tt3408768
260  Mystery  Movie                    Raaz Hi Raaz  2002     1  tt3946758
261  Mystery  Short              Toofan-e Sanjaghak  2002  none  tt5073624
262  Mystery  Short                Marie-Madeleine,  2002  None  tt5555410

[263 rows x 6 columns]

In [133]:
mystery_2003 = pd.DataFrame(lista_pelis_anual)
mystery_2003

           0      1                                  2     3     4           5
0    Mystery  Movie                         In the Cut  2003     2   tt0199626
1    Mystery  Movie           The Accidental Detective  2003     4   tt0244379
2    Mystery  Movie           La collezione invisibile  2003     1   tt0262156
3    Mystery  Movie                              Basic  2003     8   tt0264395
4    Mystery  Movie                               Vera  2003     5   tt0274193
..       ...    ...                                ...   ...   ...         ...
236  Mystery  Short                    He who once was  2003  None  tt11621912
237  Mystery  Movie                  Hai jiao jing hun  2003  none  tt12556884
238  Mystery  Movie                       El santuario  2003    11   tt1270115
239  Mystery  Movie  Augusto San Miguel ha muerto ayer  2003     1  tt12865938
240  Mystery  Short                      El descampado  2003     7   tt1303853

[241 rows x 6 columns]

In [136]:
mystery_2004 = pd.DataFrame(lista_pelis_anual)
mystery_2004

,0,1,2,3,4,5
0,Mystery,Movie,West from North Goes South,2004,5,tt0108549
1,Mystery,Movie,Serial Killer,2004,3,tt0122247
2,Mystery,Movie,Exorcist: The Beginning,2004,1,tt0204313
3,Mystery,Movie,Raspberry & Lavender,2004,12,tt0222790
4,Mystery,Movie,Habitaciones para turistas,2004,10,tt0286669
...,...,...,...,...,...,...
251,Mystery,Short,Kakari,2004,None,tt10741498
252,Mystery,Short,Zenchuu maite,2004,None,tt10741562
253,Mystery,Short,Martyrs of Circumstance,2004,5,tt11311062
254,Mystery,Movie,Meitantei Conan: Ginyoku no kijutsushi,2004,4,tt1133559
255,Mystery,Short,Blaze,2004,None,tt11417116

In [139]:
mystery_2005 = pd.DataFrame(lista_pelis_anual)
mystery_2005

,0,1,2,3,4,5
0,Mystery,Movie,Jackpot,2005,None,tt0153517
1,Mystery,Movie,Firecracker,2005,10,tt0204322
2,Mystery,Movie,The Krone Experiment,2005,None,tt0220605
3,Mystery,Movie,Love Thy Neighbor,2005,9,tt0304356
4,Mystery,Movie,The Curse of the Were-Rabbit,2005,10,tt0312004
...,...,...,...,...,...,...
315,Mystery,Short,Winterlong,2005,8,tt1003296
316,Mystery,Short,MDMA,2005,8,tt10071588
317,Mystery,Movie,Addi Tappaa,2005,None,tt10100872
318,Mystery,Movie,Andalus,2005,12,tt10137406
319,Mystery,Movie,One piece: Omatsuri danshaku to himitsu no shima,2005,3,tt1018764

In [142]:
mystery_2006 = pd.DataFrame(lista_pelis_anual)
mystery_2006

           0      1                              2     3     4          5
0    Mystery  Movie  Whispers from a Shallow Grave  2006    12  tt0144280
1    Mystery  Movie          Death of a Saleswoman  2006     2  tt0204250
2    Mystery  Movie             Under Surveillance  2006    10  tt0287072
3    Mystery  Movie                  Down the Road  2006  None  tt0296604
4    Mystery  Movie      Through the Looking Glass  2006  None  tt0320626
..       ...    ...                            ...   ...   ...        ...
190  Mystery  Short                  Mortel cliché  2006     3  tt0833980
191  Mystery  Short                          10:15  2006    11  tt0836629
192  Mystery  Short              Eighty Eight Keys  2006     3  tt0837793
193  Mystery  Short                     Paramnesia  2006     7  tt0839943
194  Mystery  Movie                          Swink  2006     7  tt0840001

[195 rows x 6 columns]

In [145]:
mystery_2007 = pd.DataFrame(lista_pelis_anual)
mystery_2007

,0,1,2,3,4,5
0,Mystery,Movie,Awake,2007,9.0,tt0211933
1,Mystery,Movie,Broke Sky,2007,3.0,tt0337899
2,Mystery,Movie,The Devil's Muse,2007,NaN,tt0372005
3,Mystery,Movie,Harry Potter and the Order of the Phoenix,2007,7.0,tt0373889
4,Mystery,Movie,Captivity,2007,3.0,tt0374563
...,...,...,...,...,...,...
251,Mystery,Short,The Sled,2007,9.0,tt1119212
252,Mystery,Short,Reflections,2007,10.0,tt1119664
253,Mystery,Short,Voces,2007,10.0,tt1121108
254,Mystery,Short,Kirksdale,2007,8.0,tt1121949
255,Mystery,Short,The Truth About Faces,2007,10.0,tt1121974

In [148]:
mystery_2008 = pd.DataFrame(lista_pelis_anual)
mystery_2008

           0      1                                  2     3     4          5
0    Mystery  Movie                            The Eye  2008     4  tt0406759
1    Mystery  Movie                       Surveillance  2008     1  tt0409345
2    Mystery  Movie                       Quid Pro Quo  2008     1  tt0414426
3    Mystery  Movie                            Autopsy  2008     6  tt0443435
4    Mystery  Movie     The X Files: I Want to Believe  2008     8  tt0443701
..       ...    ...                                ...   ...   ...        ...
294  Mystery  Short  The Mystery of the Missing Matron  2008    10  tt1340599
295  Mystery  Movie                         Cellule 66  2008    11  tt1340560
296  Mystery  Movie                      The Chauffeur  2008     1  tt1340561
297  Mystery  Movie     The Tragedy of Mister Geppetto  2008  none  tt1340620
298  Mystery  Movie          My Mother was a Butterfly  2008  none  tt1340672

[299 rows x 6 columns]

In [151]:
mystery_2009 = pd.DataFrame(lista_pelis_anual)
mystery_2009

           0      1                          2     3     4          5
0    Mystery  Movie            Moonlight Blade  2009     1  tt0121569
1    Mystery  Movie                     T.M.A.  2009     7  tt0289146
2    Mystery  Movie         El libro de piedra  2009     4  tt0353665
3    Mystery  Movie                    The Box  2009     2  tt0362478
4    Mystery  Movie                   Whiteout  2009     9  tt0365929
..       ...    ...                        ...   ...   ...        ...
425  Mystery  Short  Veracity: We All Shine On  2009     5  tt1480698
426  Mystery  Short        The Huntleigh Files  2009  none  tt1480683
427  Mystery  Movie              Accused at 17  2009     5  tt1480649
428  Mystery  Short                     Awaken  2009     7  tt1482383
429  Mystery  Short                Encrucijada  2009     9  tt1482446

[430 rows x 6 columns]

In [154]:
mystery_2010 = pd.DataFrame(lista_pelis_anual)
mystery_2010

           0      1                   2     3     4          5
0    Mystery  Movie         In My Sleep  2010     4  tt0326965
1    Mystery  Movie          Disconnect  2010     8  tt0419692
2    Mystery  Movie         The Crazies  2010     4  tt0455407
3    Mystery  Movie          The Losers  2010     4  tt0480255
4    Mystery  Movie     My Soul to Take  2010    10  tt0872230
..       ...    ...                 ...   ...   ...        ...
524  Mystery  Short            W-Rhythm  2010  none  tt1655457
525  Mystery  Movie  Be-seu-teu-sel-leo  2010     4  tt1655617
526  Mystery  Movie              Gôsuto  2010    11  tt1655400
527  Mystery  Short         Clandestine  2010  none  tt1655584
528  Mystery  Short   The Interrogation  2010  none  tt1654753

[529 rows x 6 columns]

In [157]:
mystery_2011 = pd.DataFrame(lista_pelis_anual)
mystery_2011

           0      1                                  2     3     4          5
0    Mystery  Movie                  50 Feet of String  2011  None  tt0210470
1    Mystery  Movie   Los pájaros se van con la muerte  2011     6  tt0247643
2    Mystery  Movie                                Spy  2011     8  tt0372538
3    Mystery  Movie  Extremely Loud & Incredibly Close  2011     3  tt0477302
4    Mystery  Movie             Atlas Shrugged: Part I  2011     4  tt0480239
..       ...    ...                                ...   ...   ...        ...
472  Mystery  Short                   La cabane brûlée  2011  none  tt1880255
473  Mystery  Short                    Save the Planet  2011     8  tt1880319
474  Mystery  Short                       Corvus and I  2011  none  tt1880159
475  Mystery  Short                        Buying Time  2011  none  tt1880139
476  Mystery  Movie                                Hij  2011     6  tt1880220

[477 rows x 6 columns]

In [163]:
mystery_2012 = pd.DataFrame(lista_pelis_anual)
mystery_2012

           0      1                     2     3     4          5
0    Mystery  Movie            Foodfight!  2012     2  tt0249516
1    Mystery  Movie        The Possession  2012     9  tt0431021
2    Mystery  Movie             Bad Blood  2012    10  tt0495024
3    Mystery  Movie            The Attack  2012     5  tt0787442
4    Mystery  Movie               Exposed  2012    11  tt0907852
..       ...    ...                   ...   ...   ...        ...
701  Mystery  Short  You're Not Safe Here  2012     7  tt2269920
702  Mystery  Short      Der letzte Regen  2012     8  tt2271289
703  Mystery  Short          The Way Home  2012  none  tt2271496
704  Mystery  Short        Palla al matt'  2012     6  tt2270486
705  Mystery  Short             Mala fide  2012  none  tt2271297

[706 rows x 6 columns]

In [165]:
mystery_2013 = pd.DataFrame(lista_pelis_anual)
mystery_2013

           0      1                               2     3     4          5
0    Mystery  Movie              The Devil You Know  2013     7  tt0463960
1    Mystery  Movie            Prisoners of the Sun  2013     6  tt0496375
2    Mystery  Movie            Night of the Templar  2013     1  tt0768222
3    Mystery  Movie                 The Fallen Word  2013     5  tt0843839
4    Mystery  Movie                            Epic  2013     5  tt0848537
..       ...    ...                             ...   ...   ...        ...
751  Mystery  Movie       The Lost Mantle of Elijah  2013     5  tt2805316
752  Mystery  Short  Creation of a Strange Symphony  2013  none  tt2803528
753  Mystery  Short                      Crossroads  2013  none  tt2806594
754  Mystery  Short                Tierra escarlata  2013     2  tt2805550
755  Mystery  Short                          Thirst  2013  none  tt2805238

[756 rows x 6 columns]

In [167]:
mystery_2014 = pd.DataFrame(lista_pelis_anual)
mystery_2014

           0      1                            2     3     4           5
0    Mystery  Movie  A Walk Among the Tombstones  2014    10   tt0365907
1    Mystery  Movie      The Sisterhood of Night  2014    10   tt1015471
2    Mystery  Short             Housemate Wanted  2014     1  tt10359992
3    Mystery  Short                       Stairs  2014     2  tt10426778
4    Mystery  Short                      9G Sm I  2014    10  tt10540304
..       ...    ...                          ...   ...   ...         ...
702  Mystery  Short                   Tokyo Flow  2014     3   tt3527516
703  Mystery  Short               Insane Madness  2014  none   tt3526992
704  Mystery  Short             Girls and Ponies  2014  none   tt3529192
705  Mystery  Short                    Labyrinth  2014  none   tt3529966
706  Mystery  Short           I'm Sorry Samantha  2014  none   tt3530392

[707 rows x 6 columns]

In [169]:
mystery_2015 = pd.DataFrame(lista_pelis_anual)
mystery_2015

           0      1                      2     3     4           5
0    Mystery  Short          Endless Night  2015     9  tt10025766
1    Mystery  Short    Step into the Woods  2015  none  tt10036756
2    Mystery  Short          The First Act  2015    12  tt10056262
3    Mystery  Movie               Child 44  2015     5   tt1014763
4    Mystery  Short              Barstools  2015     4  tt10156088
..       ...    ...                    ...   ...   ...         ...
791  Mystery  Movie            DristiBhram  2015     1   tt4361472
792  Mystery  Short            Maintenance  2015  none   tt4363986
793  Mystery  Short                Visited  2015     1   tt4365184
794  Mystery  Short  Velkommen til Paradis  2015     3   tt4365576
795  Mystery  Movie           Die: Lianhua  2015     1   tt4365336

[796 rows x 6 columns]

In [171]:
mystery_2016 = pd.DataFrame(lista_pelis_anual)
mystery_2016

           0      1                                2     3   4           5
0    Mystery  Movie                            Wazir  2016   1   tt0315642
1    Mystery  Movie                    Hail, Caesar!  2016   2   tt0475290
2    Mystery  Short  The Hardy Boys: Dead Man's Cave  2016   1  tt10036220
3    Mystery  Short  The Hardy Boys: End of the Line  2016  11  tt10039628
4    Mystery  Short         When the Phantom Strikes  2016   7  tt10061690
..       ...    ...                              ...   ...  ..         ...
676  Mystery  Short                         Gridlock  2016   7   tt5180990
677  Mystery  Short                          Moretta  2016   2   tt5182126
678  Mystery  Short                           Sparte  2016   5   tt5183186
679  Mystery  Movie           La verità sta in cielo  2016  10   tt5186860
680  Mystery  Movie                   Within Circles  2016   6   tt5187346

[681 rows x 6 columns]

In [173]:
mystery_2017 = pd.DataFrame(lista_pelis_anual)
mystery_2017

,0,1,2,3,4,5
0,Mystery,Movie,Joe Finds Grace,2017,4,tt0137204
1,Mystery,Movie,Rings,2017,2,tt0498381
2,Mystery,Short,Brainstorm,2017,12,tt10037098
3,Mystery,Movie,Inside the Walls,2017,None,tt10045134
4,Mystery,Short,So You Want To Be A Writer?,2017,11,tt10050010
...,...,...,...,...,...,...
527,Mystery,Short,Hindsight,2017,7,tt5764848
528,Mystery,Short,La Perla,2017,3,tt5773172
529,Mystery,Short,The Veiled,2017,6,tt5779140
530,Mystery,Movie,Disobeying the Laws of Sky Tyrants,2017,1,tt5777392
531,Mystery,Movie,Resident Evil: Vendetta,2017,5,tt5776208

In [175]:
mystery_2018 = pd.DataFrame(lista_pelis_anual)
mystery_2018

           0      1                           2     3   4           5
0    Mystery  Movie            Super Troopers 2  2018   4   tt0859635
1    Mystery  Short              The Mind's Eye  2018   8  tt10006452
2    Mystery  Short               Apartamento 4  2018  10  tt10009798
3    Mystery  Short  I Love When You Sing to Me  2018   2  tt10022338
4    Mystery  Short       Las fotos de comunión  2018   5  tt10026892
..       ...    ...                         ...   ...  ..         ...
532  Mystery  Movie                 A Vigilante  2018   3   tt6211976
533  Mystery  Movie                     Apostle  2018  10   tt6217306
534  Mystery  Movie                     Perfect  2018   5   tt6222286
535  Mystery  Movie                      Pledge  2018   4   tt6220752
536  Mystery  Movie             Boarding School  2018   8   tt6224502

[537 rows x 6 columns]

In [177]:
mystery_2019 = pd.DataFrame(lista_pelis_anual)
mystery_2019

           0      1                    2     3   4           5
0    Mystery  Movie  Motherless Brooklyn  2019  12   tt0385887
1    Mystery  Movie         Pet Sematary  2019   4   tt0837563
2    Mystery  Short               Ludere  2019   6  tt10004822
3    Mystery  Short          Innsmouth x  2019  11  tt10006124
4    Mystery  Short            The Shoes  2019   6  tt10008974
..       ...    ...                  ...   ...  ..         ...
377  Mystery  Short                Daddy  2019   2  tt10699198
378  Mystery  Short                Exile  2019   7  tt10702346
379  Mystery  Short    A la bibliothèque  2019   5  tt10707200
380  Mystery  Movie             Afflatus  2019   7  tt10706724
381  Mystery  Movie            Game Over  2019   7  tt10709060

[382 rows x 6 columns]

In [179]:
mystery_2020 = pd.DataFrame(lista_pelis_anual)
mystery_2020

,0,1,2,3,4,5
0,Mystery,Movie,The Witches,2020,11,tt0805647
1,Mystery,Movie,Fantasy Island,2020,2,tt0983946
2,Mystery,Movie,The Rental,2020,7,tt10003008
3,Mystery,Movie,Sacrifice,2020,10,tt10004108
4,Mystery,Short,Phone Home,2020,10,tt10020730
...,...,...,...,...,...,...
365,Mystery,Short,Join Us,2020,3,tt12061308
366,Mystery,Movie,Cecily and Lydia at the Waypoint,2020,12,tt12064142
367,Mystery,Short,Doris,2020,5,tt12070504
368,Mystery,Short,COVID-19 ; E.I.N.S.: E.scape I.nto N.ature S.pace,2020,3,tt12076472
369,Mystery,Short,Shadowed,2020,4,tt12076272

In [181]:
mystery_2021 = pd.DataFrame(lista_pelis_anual)
mystery_2021

           0      1                              2     3     4           5
0    Mystery  Movie  Zamaanat: And Justice for All  2021  None   tt0346172
1    Mystery  Movie              The Little Things  2021     1  tt10016180
2    Mystery  Movie                 False Positive  2021     6  tt10096842
3    Mystery  Movie                  Mi mi fang ke  2021     5  tt10097384
4    Mystery  Movie     The Diary: An Untold Story  2021  None  tt10115874
..       ...    ...                            ...   ...   ...         ...
404  Mystery  Movie                         Called  2021     2  tt14129182
405  Mystery  Short        Den Japanska Illusionen  2021  None  tt14130708
406  Mystery  Short                     Telestesia  2021    10  tt14143006
407  Mystery  Short                         I Said  2021     2  tt14142872
408  Mystery  Movie                   Bannerghatta  2021     7  tt14142640

[409 rows x 6 columns]

In [183]:
mystery_2022 = pd.DataFrame(lista_pelis_anual)
mystery_2022

,0,1,2,3,4,5
0,Mystery,Movie,Hellraiser,2022,10,tt0887261
1,Mystery,Short,Healing Meltdown,2022,10,tt10127678
2,Mystery,Movie,The Darker the Lake,2022,3,tt10231726
3,Mystery,Movie,Amsterdam,2022,10,tt10304142
4,Mystery,Movie,Untitled Disney Live Action Project,2022,10,tt10304140
...,...,...,...,...,...,...
403,Mystery,Short,Desvío,2022,3,tt18570540
404,Mystery,Short,F,2022,5,tt18573810
405,Mystery,Movie,Sunyata,2022,none,tt18671412
406,Mystery,Short,The Turn Ahead,2022,1,tt18673794
407,Mystery,Movie,Maksym Osa,2022,10,tt18688348

In [186]:
mystery_2023 = pd.DataFrame(lista_pelis_anual)
mystery_2023

           0      1                            2     3     4           5
0    Mystery  Short                       Astray  2023     6  tt10242552
1    Mystery  Movie                        Timir  2023     3  tt10757454
2    Mystery  Movie               #Models Wanted  2023     6  tt10946474
3    Mystery  Movie                      Vincent  2023  None  tt11253182
4    Mystery  Movie             Black Nightmares  2023     6  tt11306970
..       ...    ...                          ...   ...   ...         ...
209  Mystery  Movie  Khitrovka. The Sign of Four  2023     5  tt27241513
210  Mystery  Short                        Sight  2023     1  tt27236215
211  Mystery  Movie     Marne Ke Dar Se Mere Dil  2023     3  tt27250288
212  Mystery  Short                     Red Wine  2023    11  tt27250168
213  Mystery  Movie                Magna Lacerta  2023     3  tt27262238

[214 rows x 6 columns]

In [187]:

with pd.ExcelWriter("peliculasmisterio.xlsx", engine="xlsxwriter") as writer:
    mystery_1990.to_excel(writer, sheet_name="1990")
    mystery_1991.to_excel(writer, sheet_name="1991")
    mystery_1992.to_excel(writer, sheet_name="1992")
    mystery_1993.to_excel(writer, sheet_name="1993")
    mystery_1994.to_excel(writer, sheet_name="1994")
    mystery_1995.to_excel(writer, sheet_name="1995")
    mystery_1996.to_excel(writer, sheet_name="1996")
    mystery_1997.to_excel(writer, sheet_name="1997")
    mystery_1998.to_excel(writer, sheet_name="1998")
    mystery_1999.to_excel(writer, sheet_name="1999")
    mystery_2000.to_excel(writer, sheet_name="2000")
    mystery_2001.to_excel(writer, sheet_name="2001")
    mystery_2002.to_excel(writer, sheet_name="2002")
    mystery_2003.to_excel(writer, sheet_name="2003")
    mystery_2004.to_excel(writer, sheet_name="2004")
    mystery_2005.to_excel(writer, sheet_name="2005")
    mystery_2006.to_excel(writer, sheet_name="2006")
    mystery_2007.to_excel(writer, sheet_name="2007")
    mystery_2008.to_excel(writer, sheet_name="2008")
    mystery_2009.to_excel(writer, sheet_name="2009")
    mystery_2010.to_excel(writer, sheet_name="2010")
    mystery_2011.to_excel(writer, sheet_name="2011")
    mystery_2012.to_excel(writer, sheet_name="2012")
    mystery_2013.to_excel(writer, sheet_name="2013")
    mystery_2014.to_excel(writer, sheet_name="2014")
    mystery_2015.to_excel(writer, sheet_name="2015")
    mystery_2016.to_excel(writer, sheet_name="2016")
    mystery_2017.to_excel(writer, sheet_name="2017")
    mystery_2018.to_excel(writer, sheet_name="2018")
    mystery_2019.to_excel(writer, sheet_name="2019")
    mystery_2020.to_excel(writer, sheet_name="2020")
    mystery_2021.to_excel(writer, sheet_name="2021")
    mystery_2022.to_excel(writer, sheet_name="2022")
    mystery_2023.to_excel(writer, sheet_name="2023")

In [206]:
romance9023 = pd.DataFrame(lista_pelis_anual)
romance9023

romance9023.to_excel('peliculasromance.xlsx')

In [36]:
import requests

url = "https://moviesdatabase.p.rapidapi.com/titles"

querystring = {"genre":"Mystery","startYear":"1990"}

headers = {
	"X-RapidAPI-Key": "238e147571msh88317d3edc9d80dp16bbe0jsnf670c5d1b1c7",
	"X-RapidAPI-Host": "moviesdatabase.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

print(response.json())

{'page': 1, 'next': '/titles?startYear=1990&genre=Mystery&page=2', 'entries': 10, 'results': [{'_id': '61e58cf6e1a8ddbd96440553', 'id': 'tt10300398', 'primaryImage': None, 'titleType': {'displayableProperty': {'value': {'plainText': '', '__typename': 'Markdown'}, '__typename': 'DisplayableTitleTypeProperty'}, 'text': 'Movie', 'id': 'movie', 'isSeries': False, 'isEpisode': False, 'categories': [{'value': 'movie', '__typename': 'TitleTypeCategory'}], 'canHaveEpisodes': False, '__typename': 'TitleType'}, 'titleText': {'text': 'Star Wars: New Jedi Order', '__typename': 'TitleText'}, 'originalTitleText': {'text': 'Star Wars: New Jedi Order', '__typename': 'TitleText'}, 'releaseYear': {'year': 2027, 'endYear': None, '__typename': 'YearRange'}, 'releaseDate': {'day': 17, 'month': 12, 'year': 2027, '__typename': 'ReleaseDate'}}, {'_id': '61e58cf3b597b91eb9440527', 'id': 'tt10300396', 'primaryImage': None, 'titleType': {'displayableProperty': {'value': {'plainText': '', '__typename': 'Markdown'}, '__typename': 'DisplayableTitleTypeProperty'}, 'text': 'Movie', 'id': 'movie', 'isSeries': False, 'isEpisode': False, 'categories': [{'value': 'movie', '__typename': 'TitleTypeCategory'}], 'canHaveEpisodes': False, '__typename': 'TitleType'}, 'titleText': {'text': 'Untitled Taika Waititi Star Wars Film', '__typename': 'TitleText'}, 'originalTitleText': {'text': 'Untitled Taika Waititi Star Wars Film', '__typename': 'TitleText'}, 'releaseYear': {'year': 2026, 'endYear': None, '__typename': 'YearRange'}, 'releaseDate': {'day': None, 'month': 5, 'year': 2026, '__typename': 'ReleaseDate'}}, {'_id': '62a5a4cccf55a3fc127fdbcd', 'id': 'tt21001308', 'primaryImage': {'id': 'rm2080968193', 'width': 1614, 'height': 1076, 'url': 'https://m.media-amazon.com/images/M/MV5BOTE3NzM1NmMtZmQ4YS00ZTJlLTljYzItZWNmOTVmM2VhN2VjXkEyXkFqcGdeQXVyNzg3NjQyOQ@@._V1_.jpg', 'caption': {'plainText': 'Quid Ultra (2026)', '__typename': 'Markdown'}, '__typename': 'Image'}, 'titleType': {'displayableProperty': {'value': {'plainText': '', '__typename': 'Markdown'}, '__typename': 'DisplayableTitleTypeProperty'}, 'text': 'Movie', 'id': 'movie', 'isSeries': False, 'isEpisode': False, 'categories': [{'value': 'movie', '__typename': 'TitleTypeCategory'}], 'canHaveEpisodes': False, '__typename': 'TitleType'}, 'titleText': {'text': 'Quid Ultra', '__typename': 'TitleText'}, 'originalTitleText': {'text': 'Quid Ultra', '__typename': 'TitleText'}, 'releaseYear': {'year': 2026, 'endYear': None, '__typename': 'YearRange'}, 'releaseDate': {'day': None, 'month': None, 'year': 2026, '__typename': 'ReleaseDate'}}, {'_id': '638235f0f641fb6e13057ec6', 'id': 'tt23552550', 'primaryImage': {'id': 'rm22101761', 'width': 641, 'height': 950, 'url': 'https://m.media-amazon.com/images/M/MV5BZWU5OTFlY2MtYTVkMy00MmY1LTk1ODAtNzRmOTVjMmI0ZmIxXkEyXkFqcGdeQXVyMTU3NjgxNjA0._V1_.jpg', 'caption': {'plainText': 'Andrew Hopper, James Barbatano, Patrick French, Lucy French, and Drew Daly Hopper in Organized Crime: Paranormal (2021)', '__typename': 'Markdown'}, '__typename': 'Image'}, 'titleType': {'displayableProperty': {'value': {'plainText': 'TV Episode', '__typename': 'Markdown'}, '__typename': 'DisplayableTitleTypeProperty'}, 'text': 'TV Episode', 'id': 'tvEpisode', 'isSeries': False, 'isEpisode': True, 'categories': [{'value': 'tv', '__typename': 'TitleTypeCategory'}], 'canHaveEpisodes': False, '__typename': 'TitleType'}, 'titleText': {'text': 'Stage of Reckoning', '__typename': 'TitleText'}, 'originalTitleText': {'text': 'Stage of Reckoning', '__typename': 'TitleText'}, 'releaseYear': {'year': 2026, 'endYear': None, '__typename': 'YearRange'}, 'releaseDate': {'day': None, 'month': None, 'year': 2026, '__typename': 'ReleaseDate'}}, {'_id': '6474f2cdcd24af4b54747933', 'id': 'tt27859237', 'primaryImage': None, 'titleType': {'displayableProperty': {'value': {'plainText': '', '__typename': 'Markdown'}, '__typename': 'DisplayableTitleTypeProperty'}, 'text': 'Movie', 'id': 'movie', 'isSeries': False, 'isEpisode': False, 'categories': [{'value': 'movie', '__typename': 'TitleTypeCategory'}], 'canHaveEpisodes': False, '__typename': 'TitleType'}, 'titleText': {'text': 'Nightblade', '__typename': 'TitleText'}, 'originalTitleText': {'text': 'Nightblade', '__typename': 'TitleText'}, 'releaseYear': {'year': 2026, 'endYear': None, '__typename': 'YearRange'}, 'releaseDate': None}, {'_id': '61e58bdcb597b91eb943c11d', 'id': 'tt10115998', 'primaryImage': {'id': 'rm3089584129', 'width': 2376, 'height': 3500, 'url': 'https://m.media-amazon.com/images/M/MV5BYzYyODYwMzktYzE1OS00ZDI1LWFlNTAtN2RkM2MxZDliNmUxXkEyXkFqcGdeQXVyMTIzODU3OTI1._V1_.jpg', 'caption': {'plainText': 'The Cincinnati Spin (2025)', '__typename': 'Markdown'}, '__typename': 'Image'}, 'titleType': {'displayableProperty': {'value': {'plainText': '', '__typename': 'Markdown'}, '__typename': 'DisplayableTitleTypeProperty'}, 'text': 'Movie', 'id': 'movie', 'isSeries': False, 'isEpisode': False, 'categories': [{'value': 'movie', '__typename': 'TitleTypeCategory'}], 'canHaveEpisodes': False, '__typename': 'TitleType'}, 'titleText': {'text': 'The Cincinnati Spin', '__typename': 'TitleText'}, 'originalTitleText': {'text': 'The Cincinnati Spin', '__typename': 'TitleText'}, 'releaseYear': {'year': 2025, 'endYear': None, '__typename': 'YearRange'}, 'releaseDate': {'day': None, 'month': None, 'year': None, '__typename': 'ReleaseDate'}}, {'_id': '61e5a4b0971a4a15d649e855', 'id': 'tt14369674', 'primaryImage': {'id': 'rm1127468289', 'width': 1200, 'height': 628, 'url': 'https://m.media-amazon.com/images/M/MV5BNThjOGM1NmQtNGI1MS00YTlkLWE3ZjgtOTNmZjFlNjk2MDI3XkEyXkFqcGdeQXVyMTI5Nzc5Njgz._V1_.jpg', 'caption': {'plainText': 'Massimo Bonetti and Giordano Petri in Urlamò - Riti di morte (2025)', '__typename': 'Markdown'}, '__typename': 'Image'}, 'titleType': {'displayableProperty': {'value': {'plainText': '', '__typename': 'Markdown'}, '__typename': 'DisplayableTitleTypeProperty'}, 'text': 'Movie', 'id': 'movie', 'isSeries': False, 'isEpisode': False, 'categories': [{'value': 'movie', '__typename': 'TitleTypeCategory'}], 'canHaveEpisodes': False, '__typename': 'TitleType'}, 'titleText': {'text': 'Urlamò - Riti di morte', '__typename': 'TitleText'}, 'originalTitleText': {'text': 'Urlamò - Riti di morte', '__typename': 'TitleText'}, 'releaseYear': {'year': 2025, 'endYear': None, '__typename': 'YearRange'}, 'releaseDate': {'day': 20, 'month': 4, 'year': 2025, '__typename': 'ReleaseDate'}}, {'_id': '61e5a4d878c012aa3449ee61', 'id': 'tt14398474', 'primaryImage': None, 'titleType': {'displayableProperty': {'value': {'plainText': '', '__typename': 'Markdown'}, '__typename': 'DisplayableTitleTypeProperty'}, 'text': 'Movie', 'id': 'movie', 'isSeries': False, 'isEpisode': False, 'categories': [{'value': 'movie', '__typename': 'TitleTypeCategory'}], 'canHaveEpisodes': False, '__typename': 'TitleType'}, 'titleText': {'text': 'Urlamò, Adorazione', '__typename': 'TitleText'}, 'originalTitleText': {'text': 'Urlamò, Adorazione', '__typename': 'TitleText'}, 'releaseYear': {'year': 2025, 'endYear': None, '__typename': 'YearRange'}, 'releaseDate': {'day': 30, 'month': 12, 'year': 2025, '__typename': 'ReleaseDate'}}, {'_id': '61e5a63da66e5964234a4a33', 'id': 'tt14640510', 'primaryImage': None, 'titleType': {'displayableProperty': {'value': {'plainText': '', '__typename': 'Markdown'}, '__typename': 'DisplayableTitleTypeProperty'}, 'text': 'Movie', 'id': 'movie', 'isSeries': False, 'isEpisode': False, 'categories': [{'value': 'movie', '__typename': 'TitleTypeCategory'}], 'canHaveEpisodes': False, '__typename': 'TitleType'}, 'titleText': {'text': 'The Loch Ness Monster', '__typename': 'TitleText'}, 'originalTitleText': {'text': 'The Loch Ness Monster', '__typename': 'TitleText'}, 'releaseYear': {'year': 2025, 'endYear': None, '__typename': 'YearRange'}, 'releaseDate': {'day': 14, 'month': 2, 'year': 2025, '__typename': 'ReleaseDate'}}, {'_id': '624ff233bc0e5cc445390543', 'id': 'tt19386928', 'primaryImage': None, 'titleType': {'displayableProperty': {'value': {'plainText': '', '__typename': 'Markdown'}, '__typename': 'DisplayableTitleTypeProperty'}, 'text': 'Movie', 'id': 'movie', 'isSeries': False, 'isEpisode': False, 'categories': [{'value': 'movie', '__typename': 'TitleTypeCategory'}], 'canHaveEpisodes': False, '__typename': 'TitleType'}, 'titleText': {'text': "Devil's Work", '__typename': 'TitleText'}, 'originalTitleText': {'text': "Devil's Work", '__typename': 'TitleText'}, 'releaseYear': {'year': 2025, 'endYear': None, '__typename': 'YearRange'}, 'releaseDate': {'day': 20, 'month': 11, 'year': 2025, '__typename': 'ReleaseDate'}}]}

De cada una de las películas tendreis que sacar la siguiente información:

- Tipo (si es corto o película).
- Nombre de la película o el corto.
- Año de estreno de la película o corto.
- Mes de estreno de la película o corto.
- Id de la película.

In [37]:
response.status_code

info_pelis = (response.json())

resultados = info_pelis["results"][0].keys()

print(resultados)

dict_keys(['_id', 'id', 'primaryImage', 'titleType', 'titleText', 'originalTitleText', 'releaseYear', 'releaseDate'])

In [38]:
tipo = info_pelis["results"][0]["titleType"]["text"]

print(tipo)

Movie

In [39]:
titulo = info_pelis["results"][0]["primaryImage"]["caption"]["plainText"]

titulo

TypeError: 'NoneType' object is not subscriptable

In [40]:
año = info_pelis["results"][0]["releaseDate"]["year"]
año

2027

In [41]:
mes = info_pelis["results"][0]["releaseDate"]["month"]
mes

12

In [42]:
id_peli = info_pelis["results"][0]["id"]
id_peli

'tt10300398'

In [43]:
todas_pelis = info_pelis["results"]

todas_pelis

[{'_id': '61e58cf6e1a8ddbd96440553',
  'id': 'tt10300398',
  'primaryImage': None,
  'titleType': {'displayableProperty': {'value': {'plainText': '',
     '__typename': 'Markdown'},
    '__typename': 'DisplayableTitleTypeProperty'},
   'text': 'Movie',
   'id': 'movie',
   'isSeries': False,
   'isEpisode': False,
   'categories': [{'value': 'movie', '__typename': 'TitleTypeCategory'}],
   'canHaveEpisodes': False,
   '__typename': 'TitleType'},
  'titleText': {'text': 'Star Wars: New Jedi Order',
   '__typename': 'TitleText'},
  'originalTitleText': {'text': 'Star Wars: New Jedi Order',
   '__typename': 'TitleText'},
  'releaseYear': {'year': 2027, 'endYear': None, '__typename': 'YearRange'},
  'releaseDate': {'day': 17,
   'month': 12,
   'year': 2027,
   '__typename': 'ReleaseDate'}},
 {'_id': '61e58cf3b597b91eb9440527',
  'id': 'tt10300396',
  'primaryImage': None,
  'titleType': {'displayableProperty': {'value': {'plainText': '',
     '__typename': 'Markdown'},
    '__typename': 'DisplayableTitleTypeProperty'},
   'text': 'Movie',
   'id': 'movie',
   'isSeries': False,
   'isEpisode': False,
   'categories': [{'value': 'movie', '__typename': 'TitleTypeCategory'}],
   'canHaveEpisodes': False,
   '__typename': 'TitleType'},
  'titleText': {'text': 'Untitled Taika Waititi Star Wars Film',
   '__typename': 'TitleText'},
  'originalTitleText': {'text': 'Untitled Taika Waititi Star Wars Film',
   '__typename': 'TitleText'},
  'releaseYear': {'year': 2026, 'endYear': None, '__typename': 'YearRange'},
  'releaseDate': {'day': None,
   'month': 5,
   'year': 2026,
   '__typename': 'ReleaseDate'}},
 {'_id': '62a5a4cccf55a3fc127fdbcd',
  'id': 'tt21001308',
  'primaryImage': {'id': 'rm2080968193',
   'width': 1614,
   'height': 1076,
   'url': 'https://m.media-amazon.com/images/M/MV5BOTE3NzM1NmMtZmQ4YS00ZTJlLTljYzItZWNmOTVmM2VhN2VjXkEyXkFqcGdeQXVyNzg3NjQyOQ@@._V1_.jpg',
   'caption': {'plainText': 'Quid Ultra (2026)', '__typename': 'Markdown'},
   '__typename': 'Image'},
  'titleType': {'displayableProperty': {'value': {'plainText': '',
     '__typename': 'Markdown'},
    '__typename': 'DisplayableTitleTypeProperty'},
   'text': 'Movie',
   'id': 'movie',
   'isSeries': False,
   'isEpisode': False,
   'categories': [{'value': 'movie', '__typename': 'TitleTypeCategory'}],
   'canHaveEpisodes': False,
   '__typename': 'TitleType'},
  'titleText': {'text': 'Quid Ultra', '__typename': 'TitleText'},
  'originalTitleText': {'text': 'Quid Ultra', '__typename': 'TitleText'},
  'releaseYear': {'year': 2026, 'endYear': None, '__typename': 'YearRange'},
  'releaseDate': {'day': None,
   'month': None,
   'year': 2026,
   '__typename': 'ReleaseDate'}},
 {'_id': '638235f0f641fb6e13057ec6',
  'id': 'tt23552550',
  'primaryImage': {'id': 'rm22101761',
   'width': 641,
   'height': 950,
   'url': 'https://m.media-amazon.com/images/M/MV5BZWU5OTFlY2MtYTVkMy00MmY1LTk1ODAtNzRmOTVjMmI0ZmIxXkEyXkFqcGdeQXVyMTU3NjgxNjA0._V1_.jpg',
   'caption': {'plainText': 'Andrew Hopper, James Barbatano, Patrick French, Lucy French, and Drew Daly Hopper in Organized Crime: Paranormal (2021)',
    '__typename': 'Markdown'},
   '__typename': 'Image'},
  'titleType': {'displayableProperty': {'value': {'plainText': 'TV Episode',
     '__typename': 'Markdown'},
    '__typename': 'DisplayableTitleTypeProperty'},
   'text': 'TV Episode',
   'id': 'tvEpisode',
   'isSeries': False,
   'isEpisode': True,
   'categories': [{'value': 'tv', '__typename': 'TitleTypeCategory'}],
   'canHaveEpisodes': False,
   '__typename': 'TitleType'},
  'titleText': {'text': 'Stage of Reckoning', '__typename': 'TitleText'},
  'originalTitleText': {'text': 'Stage of Reckoning',
   '__typename': 'TitleText'},
  'releaseYear': {'year': 2026, 'endYear': None, '__typename': 'YearRange'},
  'releaseDate': {'day': None,
   'month': None,
   'year': 2026,
   '__typename': 'ReleaseDate'}},
 {'_id': '6474f2cdcd24af4b54747933',
  'id': 'tt27859237',
  'primaryImage': None,
  'titleType': {'displayableProperty': {'value': {'plainText': '',
     '__typename': 'Markdown'},
    '__typename': 'DisplayableTitleTypeProperty'},
   'text': 'Movie',
   'id': 'movie',
   'isSeries': False,
   'isEpisode': False,
   'categories': [{'value': 'movie', '__typename': 'TitleTypeCategory'}],
   'canHaveEpisodes': False,
   '__typename': 'TitleType'},
  'titleText': {'text': 'Nightblade', '__typename': 'TitleText'},
  'originalTitleText': {'text': 'Nightblade', '__typename': 'TitleText'},
  'releaseYear': {'year': 2026, 'endYear': None, '__typename': 'YearRange'},
  'releaseDate': None},
 {'_id': '61e58bdcb597b91eb943c11d',
  'id': 'tt10115998',
  'primaryImage': {'id': 'rm3089584129',
   'width': 2376,
   'height': 3500,
   'url': 'https://m.media-amazon.com/images/M/MV5BYzYyODYwMzktYzE1OS00ZDI1LWFlNTAtN2RkM2MxZDliNmUxXkEyXkFqcGdeQXVyMTIzODU3OTI1._V1_.jpg',
   'caption': {'plainText': 'The Cincinnati Spin (2025)',
    '__typename': 'Markdown'},
   '__typename': 'Image'},
  'titleType': {'displayableProperty': {'value': {'plainText': '',
     '__typename': 'Markdown'},
    '__typename': 'DisplayableTitleTypeProperty'},
   'text': 'Movie',
   'id': 'movie',
   'isSeries': False,
   'isEpisode': False,
   'categories': [{'value': 'movie', '__typename': 'TitleTypeCategory'}],
   'canHaveEpisodes': False,
   '__typename': 'TitleType'},
  'titleText': {'text': 'The Cincinnati Spin', '__typename': 'TitleText'},
  'originalTitleText': {'text': 'The Cincinnati Spin',
   '__typename': 'TitleText'},
  'releaseYear': {'year': 2025, 'endYear': None, '__typename': 'YearRange'},
  'releaseDate': {'day': None,
   'month': None,
   'year': None,
   '__typename': 'ReleaseDate'}},
 {'_id': '61e5a4b0971a4a15d649e855',
  'id': 'tt14369674',
  'primaryImage': {'id': 'rm1127468289',
   'width': 1200,
   'height': 628,
   'url': 'https://m.media-amazon.com/images/M/MV5BNThjOGM1NmQtNGI1MS00YTlkLWE3ZjgtOTNmZjFlNjk2MDI3XkEyXkFqcGdeQXVyMTI5Nzc5Njgz._V1_.jpg',
   'caption': {'plainText': 'Massimo Bonetti and Giordano Petri in Urlamò - Riti di morte (2025)',
    '__typename': 'Markdown'},
   '__typename': 'Image'},
  'titleType': {'displayableProperty': {'value': {'plainText': '',
     '__typename': 'Markdown'},
    '__typename': 'DisplayableTitleTypeProperty'},
   'text': 'Movie',
   'id': 'movie',
   'isSeries': False,
   'isEpisode': False,
   'categories': [{'value': 'movie', '__typename': 'TitleTypeCategory'}],
   'canHaveEpisodes': False,
   '__typename': 'TitleType'},
  'titleText': {'text': 'Urlamò - Riti di morte', '__typename': 'TitleText'},
  'originalTitleText': {'text': 'Urlamò - Riti di morte',
   '__typename': 'TitleText'},
  'releaseYear': {'year': 2025, 'endYear': None, '__typename': 'YearRange'},
  'releaseDate': {'day': 20,
   'month': 4,
   'year': 2025,
   '__typename': 'ReleaseDate'}},
 {'_id': '61e5a4d878c012aa3449ee61',
  'id': 'tt14398474',
  'primaryImage': None,
  'titleType': {'displayableProperty': {'value': {'plainText': '',
     '__typename': 'Markdown'},
    '__typename': 'DisplayableTitleTypeProperty'},
   'text': 'Movie',
   'id': 'movie',
   'isSeries': False,
   'isEpisode': False,
   'categories': [{'value': 'movie', '__typename': 'TitleTypeCategory'}],
   'canHaveEpisodes': False,
   '__typename': 'TitleType'},
  'titleText': {'text': 'Urlamò, Adorazione', '__typename': 'TitleText'},
  'originalTitleText': {'text': 'Urlamò, Adorazione',
   '__typename': 'TitleText'},
  'releaseYear': {'year': 2025, 'endYear': None, '__typename': 'YearRange'},
  'releaseDate': {'day': 30,
   'month': 12,
   'year': 2025,
   '__typename': 'ReleaseDate'}},
 {'_id': '61e5a63da66e5964234a4a33',
  'id': 'tt14640510',
  'primaryImage': None,
  'titleType': {'displayableProperty': {'value': {'plainText': '',
     '__typename': 'Markdown'},
    '__typename': 'DisplayableTitleTypeProperty'},
   'text': 'Movie',
   'id': 'movie',
   'isSeries': False,
   'isEpisode': False,
   'categories': [{'value': 'movie', '__typename': 'TitleTypeCategory'}],
   'canHaveEpisodes': False,
   '__typename': 'TitleType'},
  'titleText': {'text': 'The Loch Ness Monster', '__typename': 'TitleText'},
  'originalTitleText': {'text': 'The Loch Ness Monster',
   '__typename': 'TitleText'},
  'releaseYear': {'year': 2025, 'endYear': None, '__typename': 'YearRange'},
  'releaseDate': {'day': 14,
   'month': 2,
   'year': 2025,
   '__typename': 'ReleaseDate'}},
 {'_id': '624ff233bc0e5cc445390543',
  'id': 'tt19386928',
  'primaryImage': None,
  'titleType': {'displayableProperty': {'value': {'plainText': '',
     '__typename': 'Markdown'},
    '__typename': 'DisplayableTitleTypeProperty'},
   'text': 'Movie',
   'id': 'movie',
   'isSeries': False,
   'isEpisode': False,
   'categories': [{'value': 'movie', '__typename': 'TitleTypeCategory'}],
   'canHaveEpisodes': False,
   '__typename': 'TitleType'},
  'titleText': {'text': "Devil's Work", '__typename': 'TitleText'},
  'originalTitleText': {'text': "Devil's Work", '__typename': 'TitleText'},
  'releaseYear': {'year': 2025, 'endYear': None, '__typename': 'YearRange'},
  'releaseDate': {'day': 20,
   'month': 11,
   'year': 2025,
   '__typename': 'ReleaseDate'}}]